#about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
  }
  
  .about-content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .about-image {
    width: 100%;
    justify-content: center;
    flex: 1;
  }
  
  .about-text {
    flex: 1;
    padding: 0 20px;
  }
  